[2017-07-21 17:41] hurricanehrndz opened #1 "Status"
Can you please add a feature to report the status?
[code]

I'm sure array item 4 and 6 have something to do with RPM.

[2017-08-05 20:49] KsenijaS commented on #1
Hello,
Thank you for your input.
I tested your code and it doesn't calculate temperature accurately. For example:
Cam software shows that liquid temperature is 37 and according to your formula is 34.5.
Result is little bit better if temperature is calculated as status[1] + status[2] but it's still not correct.
Did you get same value of temperature as Cam software?

[2017-10-02 10:47] Jon0 commented on #1
`status[1]` seems close to my sensors command output. (I don't have Cam software)
`status[2]` never seems to go above 10, it may be used as a decimal place.
`status[3] << 8 | status[4]` gives the fan speed rpm.
`status[5] << 8 | status[6]` gives the pump speed rpm.

[2017-10-02 12:41] hurricanehrndz commented on #1
Those were my findings as well, but I couldn't confirm because I don't have cam installed.

[2017-10-04 03:35] KsenijaS commented on #1
Hi,

I checked my sensors output and status[1] is close to CPUTIN value and Cam software may be buggy so I will add the feature to report status of temperature.
But I am not sure about fan and pump speed: status[3] and status[4] are always 0 in my readings and also pump speed in sensors output is almost twice as when calculated by Jon's formula.  Also fan speed and pump speed in cam software never

[2017-10-04 07:07] Jon0 commented on #1
Im using the Kraken x52 (1e71:170e) Maybe there is some variation in firmware?
I get a 17 byte result:
`status[0] = 0x04
status[1] = 0x1e
status[2] = 0x05
status[3] = 0x01
status[4] = 0xd0
status[5] = 0x04
status[6] = 0x66
status[7] = 0x00
status[8] = 0x00
status[9] = 0x00
status[10] = 0xff
status[11] = 0x02
status[12] = 0x00
status[13] = 0x01
status[14] = 0x08
status[15] = 0x00
status[16] = 0x00`

[2017-11-01 18:59] KsenijaS commented on #1
Hi,

You're right my fan is connected to motherboard, I updated the code.

Thanks,
Ksenija

P.S Sorry for the late reply

[2017-12-27 23:14] #1 closed

[2018-03-27 13:38] Dids commented on #1
Can anyone confirm if these are still valid/up to date? I'm working with an X62 (0x1e71:0x170e), and while the temperature reading seems valid, the RPMs definitely don't, unless I'm not calculating them correctly.

[2018-04-15 06:31] StaticRocket opened #5 "raise NoBackendError('No backend available')"
Error returned when trying to run the demo command on Windows 10.

[code]
Edit: I'm an idiot. I just read that the project is intended to run on Linux.

[2018-04-16 03:12] #5 closed

[2018-06-08 08:53] AnthonyRawlinsUoM opened #7 "Multiple Kraken Support"
Awesome work. What do I need to do to get this working when I have 2x Kraken X62's in my system?

'lsusb' reports as:
Bus 003 Device 006: ID 1e71:170e NZXT
Bus 003 Device 008: ID 1e71:170e NZXT

Nevermind... I found the line.

dev = devices[0]

[2018-06-18 15:37] thevik opened #9 "Tai Chi effect"
Awesome program! you've saved me the overhead of running a windows VM to control my x62!

Is implementing the Tai Chi effect a possibility? It is the only effect that cam software offers that this program does not.

Thanks!

[2018-06-24 16:05] thevik opened #10 "After issuing a color change, following commands fail to do anything."
Arch Linux 4.17.2

After a fresh restart, with the LED's of my kraken x62 off:

colctl -m solid -c0 50,0,90  successfully changes the LED's from black to purple

immediately after I run:

colctl -m solid -c0 0,0,0 to change the LED's back to black but nothing happens.

no other colctl commands seem to work until I restart again.

[2018-06-25 20:37] willkill07 commented on #10
I also report the same issue.

kernel version: 4.17.2-1-ARCH
Hardware: Kraken x62

[2018-07-17 11:48] jonasmalacofilho opened #11 "Fan and pump speeds revert to defaults after a few seconds"
Issuing

[code]
makes the fans and the pump to spin up.

This can be confirmed both audibly and through `--status`:

[code]

However, after approximately 10 seconds the fans spin down again, and so does the pump:

[code]

I assume the firmware is reverting back to its defaults for some reason.  Have any of you experienced this already or can reproduce it?

Note: I'm running a brand new unit, with

[2018-07-17 18:21] jonasmalacofilho commented on #11
It looks like running the fans or the pump at "fixed" speeds requires sending regular updates.  CAM does that every 5 seconds or so.  Not sure if this was always the case or if is related to the recent firmware.

Still, profiles do (seem to) persist, even on this firmware.  The protocol for setting them looks simple, I will try to open a PR later.

[2018-07-18 03:49] KsenijaS commented on #9
Hi,

I think I have the newest CAM version and it doesn't include Tai Chi effect. I think I saw it in some previous version. If it comes up in some new version I will implement it.

Thanks

[2018-07-25 14:05] jonasmalacofilho commented on #10
I can reproduce this as well.

[2018-07-28 19:20] Lyberta opened #13 "X72 is working"
I've just tested this on Kraken X72 and it works. You can add X72 to the list of supported devices.

[2018-07-29 19:34] jneumaier commented on #9
Implemented in this [pull request](https://github.com/KsenijaS/krakenx/pull/14).

[2018-07-30 07:22] jneumaier commented on #7
Should now be fixed with your (pull request)[https://github.com/KsenijaS/krakenx/pull/8] merged. Please close.

[2018-07-30 10:21] jneumaier commented on #13
Added to the docs with my push request. An X72 tag could be added to the git project like for the other devices. Can be closed.

[2018-08-21 08:05] Carthago44 opened #15 "Problem with installation in Windows"
Wenn I try to install krakenx, Python gives me the following:

**C:\Users\Toni\Downloads\ASUS\krakenx-master>python -m pip install krankenx
Collecting krankenx
  Could not find a version that satisfies the requirement krankenx (from versions: )
No matching distribution found for krankenx**

What do I make wrong? I am completely new with Phyton, installed actual version 3.7 with upgrading pip from

[2018-08-21 21:47] jneumaier commented on #15
Oh, there is a typo in the docs. Should be krakenx not krankenx. But I did not check if the pip package has been updated. If this does not work, try the "Install from source" instructions.

[2018-08-22 06:53] Carthago44 commented on #15
Ok, thank you!
I found this mistake late in the evening yesterday (blind believing in drag and drop) and would tell this today, but I'm to late!

Installation of krakenx now works perfect, my actual problem is the colctl -command - I always get the message, that it is unknown.

[2018-08-22 10:30] jneumaier commented on #15
Yes, the maintainer of this project does not seem to have a lot of time currently. The public (pip package)[https://pypi.org/project/krakenx/] is more than a year old.

That is why i referred to the "Install from source" instructions.

[2018-08-22 11:32] Carthago44 commented on #15
Many thanks for helping me Jens!
I'm quite new to Python and GitHub, so excuse my "stupid" questions (my actual programming is mostly in Lazarus-Pascal, Arduino and PLM51).
Two more questions:.
- wherefrom do I have to start the installation from source - where is the right source directory?
- after installation: wherefrom can I use the colctl-Commands?

[2018-08-22 12:11] jneumaier commented on #15
No worries. For me it worked from the source folder (git clone & cd into cloned directory). Maybe it is because I use git bash as command line. You can also try to specify an absolute path instead of '.' at the end of the installation command. The colctl command should then be executable from anywhere in your path if your PATH environment variable includes the Python main and script folders. For m

[2018-08-22 13:28] Carthago44 commented on #15
Ok, Python already was in my local Path since installation. Now I tried to clone to GitHub desktop and a new installation from source should have been done, but there is no success in using colctl.
Here is a copy what happened:

C:\Users\Toni\Documents\GitHub\krakenx>pip install -e .
Obtaining file:///C:/Users/Toni/Documents/GitHub/krakenx
Requirement already satisfied: pyusb in c:\users\toni\appd

[2018-08-22 13:42] Carthago44 commented on #15
Little update:

Colctl works in Git Bash, but nowhere else.

[2018-08-22 13:49] jneumaier commented on #15
Glad to hear it works partly. Please start the command line with a user account (not run as admin) and ensure both paths (main & scripts, e.g. ...\Python\Python36-32\Scripts) are in the **user** path environment. You should find a colctl file in this script directory. I had the same problem and also had the paths in the system environment which did not work for me. No idea why these PATH variables

[2018-08-22 13:58] jneumaier commented on #15
And Windows also does not make it easy to update your variables, maybe just restart or have a look [here](https://serverfault.com/questions/8855/how-do-you-add-a-windows-environment-variable-without-rebooting). In case you do not know what I mean: If you edit your environment variables, there are user variables in the top and system variables in the bottom part of the dialogue.

[2018-08-22 14:01] jneumaier commented on #15
Or was it the other way around?
In the docs I wrote
`Other accounts may need PATH updates for Python main and script folders in system environment (only available in user environment by default).`
So I guess it was missing there, sorry. But got the exact same problem and had to add it there.

[2018-08-22 15:20] Carthago44 commented on #15
Ok, the two paths are in the user environment at the moment. I will move them to system and make another try.
By the way: I've tested a little bit with my x62 fan speed using git bash and my default value after power on is about 1100 rpm. Using 60% as the lowest possible value gives me about 1700 rpm. So I think the default value after power on is lower than 60% - may be 50?

[2018-08-22 15:26] jneumaier commented on #15
Yes please report if you find out what is the correct configuration. I also struggled with the Windows command line and thought it was documented correctly.

The default if fspeed flag is not set is 30%, "Fan speed must be integer number between 25 and 100". 60% was for the pump and I wish this could be lower but is a firmware limit, no idea about the fan.

[2018-08-22 16:38] jneumaier commented on #15
Hm. I have it configured this way. But I guess it only makes sense for other user accounts like admin anyway. Do you have the colctl file in your "Scripts" folder? Does pip command work (pip itself without python -m, another exe in the scripts folder).
Currently it also works only in git bash for me. Maybe I remembered it wrong and gave up. Probably the shebang (#! first script line with interpret

[2018-08-22 17:08] Carthago44 commented on #15
Ok, back to user environment, but now even git bash doesn't help. Colctl is unknown.
I controlled PATH for typing mistakes, but everything seems to be correct. Making a cd to scripts where colctl is located helps nothing too. Unknown command …
Later on I will make use of task scheduler or maybe a batch file as you suggested, in the moment it would be nice to change pump and fan speed to find out m

[2018-08-23 12:08] Carthago44 commented on #15
Some new results and answers to your questions:
- colctl only works with the two paths in user environment and executing it in git bash.
- colctl file is in my script folder
- pip works from anywhere
- testing parameters is possible using git bash; creating a task or a batch file should be possible.

Now I try to learn a little bit about python programming, how to edit source code and so on. In co

[2018-08-23 13:13] jneumaier commented on #15
Thanks for the update. It was just about Windows command line not compatible with a Unix shebang instruction, the .py file ending is required for Windows to make the script executable. I added a `colctl.py` redirection script to allow execution in Windows command lines.

It is not merged yet and you might try from my forked repository if you are interested:
https://github.com/jneumaier/krakenx

Al

[2018-08-23 14:44] Carthago44 commented on #15
I installed new from your source and now "python colctl -s" works fine in /bin directory.
Many thanks and sorry, I have no time for further testing in the moment - I think tomorrow I am able to report more.

[2018-08-23 14:45] jneumaier commented on #15
`colctl.py -s` might work anywhere now and in Windows command line.

[2018-08-24 14:26] Carthago44 commented on #15
Ok, some new tests and their results:
- colctl only works in windows when starting it from a directory were it is in and in combination with    python, not standalone
- with git bash standalone operation from everywhere is possible
- pump speed 50 works fine; I changed the values from 60 to 50 in "my" source. Now 50 gives me the default speed which x62 has after power on (about 1100 rpm). Changing

[2018-08-24 18:53] jneumaier commented on #15
Yes colctl will not work in Windows command line because of the shebang support. Add **.py** and use `colctl.py` to support Windows file extension mappings. I am not so much into pip to give support here but afaik you should prefer `python -m pip` to use the correct version. Project files should all be in the cloned source. I am sure you will get into it quickly :-)

Interesting thing with the pum

[2018-08-24 20:59] Carthago44 commented on #15
Yes, I mean pump speed for sure, writing about fan was a mistake. I've now tried it several times and it works fine. Maybe it has to do with the kraken firmware - installing seems only to be possible via CAM.
Thank you for your tips so far; for the first I installed Python new with custom options in c:\programs and Path in system environment and I am reading a lot in the turtorial.

[2018-08-24 21:48] jneumaier commented on #15
Very nice. I read 60% would be a firmware limit. Seems to be 50% for me as well.

[2018-08-25 09:13] Carthago44 commented on #15
My values reported by colctl actually:

**_>colctl -ps 50

Device status:
fan_speed 514
liquid_temperature 34.4
pump_speed 1172

Device status:
fan_speed 514
liquid_temperature 34.4
pump_speed 1759_**

[2018-08-25 16:33] jonasmalacofilho commented on #15
Can I ask what firmware version do you have on your Kraken?

Also, regarding setting speeds in general, can you check if you can reproduce #11 (wait 10+ seconds, `colctl -s` again)?

As for the minimum PWM duty, I had also noticed that the firmware would accept 50% (resulting in 1900-2000 rpm, normally).  I am not sure why CAM limits it to 60%, but there is the possibility that it is so for pump l

[2018-08-25 19:34] jneumaier commented on #11
For me it behaves exactly like you descibed with firmware version 4.0.2. Pump speed resets to previous value after around 5 seconds. I guess it just regulates with the default silent mode curve. I found no information about how to edit theses curves in the protocol yet.

[2018-08-25 19:56] jonasmalacofilho commented on #11
I think it might be a failsafe: if CAM crashes, the cooler reverts to the configured profile.  From what CAM sets (and from what I have read the firmware ensures), the profiles will always ramp fan and pump speeds to 100% if the liquid reaches its maximum (un)safe operating temperature of 60°C.

An issue with profiles is that they default to 5°C steps (with no interpolation), which is kind of usel

[2018-08-26 10:09] jonasmalacofilho commented on #15
Thanks!

How fast does your pump spin at 100%?  And on load, how high does your liquid get?  Asking because ~1100 rpm does seem quite low.

But maybe it is just that the relationship between PWM duty and actual speed in rpm has also changed in recent firmware versions.

[2018-08-26 11:29] Carthago44 commented on #15
To your question:

Device status:
fan_speed 520
liquid_temperature 36.5
pump_speed 2826

Highest liquid temperature I recognized was about 45 degrees in days with a room temperature of nearly 30 degrees. CPU-temperature then was near 50.

[2018-08-26 11:41] Carthago44 commented on #15
As an addition here the spec of x62 (in German only - sorry) where you can see the rpm range. So 1000 seems to be correct anyway.

Technische Daten:
Maße: Radiator: 315 x 143 x 30 mm (B x H x T)
Pumpe: 80 x 80 x 52,9 mm (B x H x T)
Gewicht: 1,29 kg
Materialien: Aluminium, Kupfer, Kunststoff, Gummi, Nylon
Pumpengeschwindigkeit: 1.000 - 2.800 U/Min +/- 300 U/Min
Spannung (Pumpe): 12 V
Anschluss (Pum

[2018-08-26 18:46] jneumaier commented on #11
Very nice! Would be perfect if flat was the default and you could optionally set a minimum and maximum pump speed with linear interpolation. Or maybe all values but I guess linear would be fine for a pump.

On the other hand interpolation between 0°C and 100°C does not really cover our use case :-) Maybe we would have to give some start/end temperatures for the min/max values as well. Do we have t

[2018-08-26 19:05] jneumaier opened #19 "Allow additional maintainers / collaborators"
@KsenijaS: Would you please consider if you would accept additional maintainers / collaborators in this project?

One rule could be that anyone but you may not commit directly to this repository but must create a pull request reviewed by at least one of the other collaborators. It is not an important thing but I got the impression you currently cannot spare much time and I do not see much risk in

[2018-08-26 19:50] KsenijaS commented on #19
@jneumaier Thank you for taking such interest in this project, indeed I don't have enough time right now. Thank you also for helping others use it.
I updated pypi package and added you as a collaborator, I don't have your user name for pypi account (I suppose that is what I need to add you as maintainer)

[2018-08-26 20:36] jneumaier commented on #19
@KsenijaS Thank you very much for your openness and trust! I just registered on pypi.org as jneumaier.
Maybe you can update the github project description to "Python script to control NZXT cooler Kraken X52/X62/X72 in Linux and Windows" and add the tags "x72" and "windows". These updates I cannot do (and are you decisions anyway). This way the project would be found easier with the github search o

[2018-08-26 20:38] #13 closed

[2018-08-26 20:40] jneumaier commented on #9
@thevik You may test the Chaser / Tai Chi effect if you like to. You may also try Windows support without your VM.

[2018-08-26 20:42] #7 closed

[2018-08-26 20:42] jonasmalacofilho commented on #11
I absolutely agree with not using flat profiles: personally, I use a quite aggressive curve with the stock Aer P fans, for low noise during light loads (most of day), while still capable of handling the considerable peak heat output or even increased air temperatures.

Originally I tested a mechanism to automatically interpolate and adjust the temperature increments where it made more sense but, a

[2018-08-26 21:03] jneumaier commented on #10
I guess this has been fixed accidentally. Works for me. Please verify.

[2018-08-26 21:06] jneumaier commented on #15
The initial issue should be fixed now. I will leave the issue open for a few days for additional questions or feedback.
We can discuss the fan and pump speed behaviour in #11.

[2018-08-26 21:34] jneumaier opened #20 "Lower pump speeds possible for X52/X62/X72?"
As discussed in #15 a lower pump speed may be possible.
We have three verified cases with 50% pump speed support for X62.
Can we at least verify this for one other device? Then we might change this limit.

[2018-08-26 21:49] jneumaier commented on #20
@Lyberta
Can you maybe try with X72 if you are interested?

For local installation of the patch execute:
[code]

To test execute:
[code]
maybe wait some seconds (5 or so) and verify if you get a different/working result with
[code]

To revert to pip package installtion execute (for Linux):
[code]

[2018-08-26 21:55] jneumaier commented on #15
@Carthago44 I would really like my pump speed as low as yours though. I opened a new issue #20 for the 50% lower pump limit.

I also merged @jonasmalacofilho's contribution to read the firmware version with:
`colctl.py -s`
You have to update your source for this feature (`git pull`). Maybe you can verify the firmware version now.

[2018-08-27 00:54] jonasmalacofilho commented on #15
@Carthago44 I see different specs on NZXT's website, even in German.

Can you provide a link to those specs, or a picture in case it's something that came with your unit?
Having this properly documented could prove very useful for the discussion in #20.

[2018-08-27 00:56] jonasmalacofilho commented on #20
I have been thinking about this for a while...

On one hand, the specs on NZXT's website state the 1,600~2,800 +/- 300 rpm range for the pumps in all 2nd gen. Kraken X coolers.  On the other, keeping pumps at 2100+ rpm might be a push for increased cooler longevity.

Maybe more importantly, unlocking 50% PWM could make [some pumps](https://github.com/KsenijaS/krakenx/issues/15#issuecomment-4159555

[2018-08-27 01:36] jonasmalacofilho commented on #20
By the way, I performed a few tests with my X62 unit.

At around 170 W of heat output I can only observe slight changes on CPU and liquid temperature (3°C and 1°C, respectively), between 50% PWM ~ 1950 rpm and 100% PWM ~ 2800 rpm.  Between 50% and 60%, differences are obviously smaller and only noticeable on the liquid temperature, even then still bellow 1°C.

The most perceptible impact is on pum

[2018-08-27 01:41] jonasmalacofilho commented on #10
I can still reproduce this after a fresh boot, at least on Linux.

Could this maybe be related to detaching the kernel driver but never reattaching it?

[2018-08-27 07:09] Carthago44 commented on #15
@jonasmalacofilho : for example to find here:
http://www.hardwareoverclock.com/NZXT-Kraken-X62-AIO-Wasserkuehlung.htm
I also got such specs in paper form with my x62, but I can't find it anymore…..

@jneumaier
Thanks for new source - I will test it as soon as possible.
Trying to get familiar with python I try experiments like reading cpu temp and therefore would like to install pyspectator, but at

[2018-08-27 11:32] jneumaier opened #21 "Write only specified values for fan, pump and color schemes"
I would prefer a behaviour where only specified fan/pump profiles/values (profiles currently in development #11) and color schemes are set if executing the colctl command. Currently the update method does it all with no conditions:

[code]

I think we should change this and include checks for given command values. Addtionally we might also execute print_status by default instead of returning an ig

[2018-08-27 12:19] jneumaier commented on #15
@Carthago44 Seems to be a bug already fixed in the repository: https://github.com/it-geeks-club/pyspectator/issues/23

The issue has not been responded to, but the 1.2.1 release version includes the `-r base.txt` line:
https://github.com/it-geeks-club/pyspectator/blob/45160084b56067f2ce94d9d5c282fe11aa81e443/requirements/windows.txt
The current master version seems fixed:
https://github.com/it-gee

[2018-08-27 12:30] jneumaier commented on #20
I experience the same clicking and gurgling sometimes. Overall I am fine but would be nice to the pump even more silent.

I often read about those low pump speeds, some examples:
https://www.reddit.com/r/NZXT/comments/6lv0vm/pump_speed_on_kraken_x62/
https://support.camwebapp.com/forums/252256-cam-bugs/suggestions/33286240-kaken-x62-max-pump-rpm-depends-on-rgb-template
https://support.camwebapp.co

[2018-08-27 12:52] Lolzen opened #22 "Allow separate logo color for modes currently only supporting ring color"
An flag to either have a solid color, or none at all on the logo (NZXT text") while maintaining spectrumwave on the ring would be nice.

[2018-08-27 13:16] jneumaier commented on #22
Spectrum wave completely ignores all input colors in the protocol as far as I know and tested. See also [PROTOCOL.md](https://github.com/KsenijaS/krakenx/blob/master/PROTOCOL.md). Do you know if this is possible in CAM software?

[2018-08-27 13:28] Lolzen commented on #22
It is possiblle on CAM software, hence why i have issued a request for this.

[2018-08-27 13:32] jonasmalacofilho commented on #22
@jneumaier logo and ring can be set to different modes.

The third byte specifies which channel to target, sync both, logo only or ring only.

[2018-08-28 00:01] Lyberta commented on #20
X72 is working with 50 speed.

[2018-08-28 00:02] jneumaier commented on #20
@Lyberta Thank you!

[2018-08-28 13:14] Carthago44 commented on #15
@jneumaier Thank you very much for perfect support!
Pyspectator is installed now (after required installation of visual studio 14).
Reading firmware version works now too.

[2018-08-28 14:06] Carthago44 commented on #20
@Lyberta
As long as usb is powered on the settings remain in kraken; after power down it starts with default values again.

[2018-09-05 17:39] #19 closed

[2018-09-05 17:40] #15 closed

[2018-09-05 17:47] jneumaier commented on #22
I will try to fix this soon (hopefully next weekend). If someone starts working on this, please just leave a notice here.

[2018-09-05 17:55] jneumaier commented on #22
FYI see "only ring" flag and references in:
https://github.com/jonasmalacofilho/liquidctl/blob/f42213366a3bdca27e4ba66e8b5986f979f1eef3/liquidctl/driver/kraken_two.py#L51-L80

[2018-09-05 18:09] jneumaier commented on #20
I added a [development](https://github.com/KsenijaS/krakenx/tree/development) branch with the 50% enhancement. Any feedback and additional tests are welcome. Maybe we can merge the behaviour when we feel more secure about the change.

[2018-09-05 18:15] jneumaier commented on #10
Thanks @jonasmalacofilho I merged the pull request #23 but only had time to verify everything works on Windows.
@thevik @willkill07 If you have the time, you are welcome to verfiy the fix on Linux. Otherwise I will just trust jonasmalacofilho's expertise and close the issue in a few days :-)

[2018-09-05 19:40] thevik commented on #10
Verified on Linux. Thanks for the fix! @jneumaier

[2018-09-05 20:10] jneumaier commented on #10
@thevik Perfect, thanks!

[2018-09-05 20:10] #10 closed

[2018-09-13 06:11] jonasmalacofilho commented on #11
@jneumaier I'm finally starting to work on the custom profiles for krakenx.

One thing that comes to mind, also considering #22, is that we could probably `import` liquidctl's driver here, as its API is modular enough to support different CLIs and use cases (other than the ones I implemented there).

What do you think?

[2018-09-14 18:43] atyshka opened #25 "Support for X42?"
This repo doesn’t advertise support for the Kraken X42 but has anyone tried it? I’d like to have this control if possible but I don’t want to risk messing up my cooler

[2018-09-14 18:58] jonasmalacofilho commented on #25
The only way to know for sure is to test it (it is what we have done with our own coolers).  If you decide to give it a go, you might feel more comfortable to start with `colctl --status`, as it is a read-only operation.

Assuming that works, you can then try the settings that are expected to work with your cooler.  For example, avoid any color modes that you don't see in CAM.  And please report a

[2018-09-14 19:03] atyshka commented on #25
Okay cool! I won’t be able to see what CAM supports as this is a Linux only computer, but I’ll be conservative. Also, just out of curiosity, does the cooler remember it’s settings or do I need to run this command after every boot?

[2018-09-14 19:12] jonasmalacofilho commented on #25
The cooler remembers the settings until it is completely cut from USB power (i.e. disconnected from the motherboard or the PSU switch is turned off).  So you might want to set your system to reconfigure itself at boot time.

[2018-09-14 19:14] jonasmalacofilho commented on #25
By the way, a sibling project indicates that it should indeed be compatible (see this [commit](https://github.com/brkalmar/leviathan/commit/0e22fb6ae783abc0746316b849c41ff5e178413f#diff-04c6e90faac2675aa89e2176d2eec7d8)).

[2018-09-14 19:18] jonasmalacofilho commented on #25
Actually, a [few commits were added](https://github.com/brkalmar/leviathan/issues/1) but, from a quick glance, they wouldn't really matter in the case of krakenx.

[2018-09-14 19:20] KsenijaS commented on #25
Hi atyshka,
It should remember the settings unless if it's in Solid/SolidAll mode, on my machine I have to rerun the command.

[2018-09-14 22:06] jonasmalacofilho commented on #25
@atyshka let us know how well it worked and if you encountered any issues.

[2018-09-15 17:41] KsenijaS commented on #11
Hello,
Sorry for the late reply.
This sounds like a good idea, I seen your code @jonasmalacofilho and you have much better knowledge of protocols than any of us, also I would like you to add you as collaborator if you don't mind.
But in that case we should also update README file and I wonder if PROTOCOL.md should also be updated?

[2018-09-15 23:34] jonasmalacofilho commented on #11
I accepted the invitation, thanks.

Yes, I agree that we should update the README to reflect the change.  Not sure about PROTOCOL.md, maybe move it to liquidctl and keep it close to the implementation (besides, of course, updating it)?

[2018-09-15 23:37] jonasmalacofilho opened #26 "Instructions for Windows users"
I think the Windows installation guide should also list a method that does not block CAM from accessing the device.

It would be nice if there was a user-friendly way of install the libusb 1.0 client libraries on Windows.  On liquidctl I had to settle for a manual guide to how they should be installed, but that is not optimal.

Anyone willing to write a script that does the necessary steps (downlo

[2018-09-17 20:53] #9 closed

[2018-09-17 21:01] jneumaier commented on #11
Fixed with #24. Thanks @jonasmalacofilho.
Feel free to close. Just leaving it open for README.md and PROTOCOL.md feedback for now. Maybe a slim protocol description poiting to the relevant source code parts would be enough. It is deep tech stuff any way and the source code explains it pretty well.

[2018-09-17 21:07] jneumaier commented on #26
I am a little confused about all these alternative libraries and version. For example is the libusb project from github much different from the libusb-win32 version? They also suggest Zadig for an easy installation process like we do here: https://github.com/libusb/libusb/wiki/Windows
Maybe it works only simultaneously with CAM as a filter driver installation instead of the replacement. Did not ge

[2018-09-17 21:32] jneumaier commented on #21
Should be postponed until new liquidctl driver is included #11.

[2018-09-17 21:40] jneumaier commented on #20
Merged current master into [development](https://github.com/KsenijaS/krakenx/tree/development) (includes temperature profiles).

[2018-09-17 22:56] jonasmalacofilho commented on #26
Libusb is just a cross-platform library to access USB devices.  On Windows, it is compatible with the generic HID device and some others; on Linux it always runs with its own driver, but there we also have detach/reattach APIs to return control after we're done with the device.  Oh, and libusb-win32 packages an older version of libusb (0.1).

The main issue I see with using the Zadig tool: it will

[2018-09-18 00:52] jonasmalacofilho opened #27 "Switch to the liquidctl driver"
We have decided in #11 to switch to the liquidctl driver.  I'm opening this issue so that we can track that effort.

Current snapshot: [jonasmalacofilho:switch-to-liquidctl-driver](https://github.com/jonasmalacofilho/krakenx/tree/switch-to-liquidctl-driver) ([diff](https://github.com/KsenijaS/krakenx/compare/master...jonasmalacofilho:switch-to-liquidctl-driver?expand=1))

Obviously we need to:

 -

[2018-09-18 00:52] jonasmalacofilho commented on #11
Closing after moving the remaining bits to #27.

[2018-09-18 00:52] #11 closed

[2018-09-18 00:56] jonasmalacofilho commented on #22
We can defer this to #27, as it should come for free with the new driver.

In terms of UI, I think we can infer `logo` vs `ring` vs `sync` from the supplied options (`--text_color` vs `--color<n>`.  But this would depend on #21.

[2018-09-18 01:48] jonasmalacofilho commented on #27
By the way, who of us will actually implement this? : )

I can do it of course, but maybe @jneumaier can take this on as well?

---

By the way, I will prepare a 1.1.0 release of liquidctl (with a few extra color modes and maybe some other small features), so that krakenx can just import it via setup.py/PyPI.

[2018-09-18 06:43] Carthago44 commented on #20
Hello Jens,

I was not at home for some weeks but I will continue testing soon.

Greetings,

Toni

Von: Jens Neumaier [mailto:notifications@github.com]
Gesendet: Montag, 17. September 2018 23:40
An: KsenijaS/krakenx
Cc: Carthago44; Comment
Betreff: Re: [KsenijaS/krakenx] Lower pump speeds possible for X52/X62/X72? (#20)

Merged current master into development <https://github.com/KsenijaS/krakenx/t

[2018-09-24 05:17] jonasmalacofilho commented on #27
I started working on the initial driver switch, see [jonasmalacofilho:switch-to-liquidctl-driver](https://github.com/jonasmalacofilho/krakenx/tree/switch-to-liquidctl-driver).

Note: you need a current 'master' version of liquidctl, while I finish preparations for the upcoming release.

[2018-09-24 18:41] jneumaier commented on #27
@jonasmalacofilho Sorry for the late reply. I hoped to find some time to help. To be honest it might have taken me quite some time to find this "easy solution" in the end. The code is really comprehensible now.

Integrates very well and works fine already. Only the logo/ring/sync separation needs some more work from what I tested. Maybe an easy solution would be to always set ring only and separat

[2018-09-26 08:27] jonasmalacofilho commented on #27
That's a good idea.  But there are cases where syncing both channels might also be desired (e.g. breathing).

In the end, I think we really need a `--color_channel`/`-ch` option, and I just added that to the branch.

This should fix #22 and allow us to enable all other remaining color modes.  But, at the same time, we are already somewhat moving towards the adoption of #21: two separate calls woul

[2018-09-26 08:40] jonasmalacofilho commented on #20
I initially had some concerns, but I agree that this is an improvement and that we shouldn't limit our users.

Maybe we could add some general information about the need to (properly) stress test the system, and not overload the cooler?

---

– From commit that enables this on the future driver ( jonasmalacofilho/liquidctl@651e5bbbf83436af8e868e59f4eaefc6d602f667)

[2018-09-28 05:31] kkobashi opened #28 "How To Autorun KrakenX On Linux"
### TL;DR
Instructions on how to auto run the KrakenX colctl script on bootup. (*)

### Operating System
This is for Linux only

### Purpose
To execute KrakenX script inside a service daemon that gets launched during boot up.

This is very important so you don't have to remember to always run the script after you log in.

With CAM on Windows, everything kicks in when Windows boots up. On Linux how

[2018-09-28 05:47] jonasmalacofilho commented on #28
Thanks!

This should be included in the documentation.

---

@jneumaier where do we want to put the growing documentation: `README` only, `/docs` or Wiki?

[2018-09-29 10:47] jneumaier commented on #28
@kkobashi Thank you!

Good idea, I guess everyone needs this somehow. I might add a Windows version using the task scheduler.

@jonasmalacofilho I would prefer to split the extended documentation in some extra place and link it from `README.` Maybe a wiki would be a clear favorite for a bigger number of documents. In our case I would prefer a `/docs` directory but I am fine with both.

[2018-10-01 08:37] Carthago44 opened #29 ""Frozen" values when reading status after changing FS and/or PS"
The values of PS and FS shown by -s are only correct up to the first change via -ps xx and/or -fs xx.
Afterwards reading status gives me the correct value of the liquid temperature, but FS and PS always show the same. Physically the fan (and the pump too I hope - cannot hear it, because changing only ps also alters fs(?)) reacts correct.

[2018-10-01 10:36] jonasmalacofilho commented on #29
Can you confirm which version of krakenx you are on?

Also, what the firmware version (`colctl -s` should show that) do you have
again?

On Mon, Oct 1, 2018, 05:37 Carthago44 <notifications@github.com> wrote:

[2018-10-01 13:49] Carthago44 commented on #29
My firmware is 2.1.8. This was the last version which I could install with CAM before changing the driver for krakenx.

Yes, I mean -ps <value1> -fs <constant> and -ps <value2> -fs <constant> result in different fan speeds.

[2018-10-01 13:52] jonasmalacofilho commented on #29
What krakenx version do you have?

If you are not already on the latest v0.0.3, can you that or what's currently on `master`?

[2018-10-01 13:55] Carthago44 commented on #29
Seems I have some problems writing text here …
I tried to quote your sentence, but didn't work - sorry!

[2018-10-01 13:56] Carthago44 commented on #29
I have an X62 and I use the development branch 0.0.3

[2018-10-01 14:16] jonasmalacofilho commented on #29
No worries!

Thanks!

---

Well, this is a strange issue.

Can you run the same test on a [version with some debug messages](https://github.com/jonasmalacofilho/krakenx/tree/debug-29) and send us the output?

[2018-10-01 14:34] Carthago44 commented on #29
Ok, done, lots of text now, hope it helps you:

Device status:
received 04 21 03 02 07 04 a5 00 00 00 40 02 00 01 08 1e 00
fan_speed 519
firmware_version 2.1.8
liquid_temperature 33.3
pump_speed 1189

C:\Users\Toni\Documents\GitHub\krakenx-debug-29>colctl -fs 60 -ps 70
sending 02 4c 00 00 00 00 ff 00 ff 00 00 ff 00 00 ff 00 00 ff 00 00 ff 00 00 ff 00 00 ff 00 00 ff 00 00 (+33 padding bytes)
sendin

[2018-10-01 15:10] jonasmalacofilho commented on #29
Do you remember the last krakenx version where this used to work?

Have you tried turning off the PSU long enough for the device to reset to its defaults?

---

Ideas I'm considering:

 - fan and/or pump profiles not supported on 2.1.8?
 - fan and/or pump profiles supported, but have limitations on 2.1.8?
 - another krakenx implementation issue?
 - driver issue?
 - controller has crashed?
 - unit

[2018-10-01 15:33] Carthago44 commented on #29
Sorry, no idea to a working version number.
I bought my kraken in July, started with CAM and the well-known problems and dicovered krakenx at the beginning of August. Python and GitHub was quite new for me...…

Turning power off over night should be long enough for kraken to forget everything I hope.

[2018-10-01 15:46] jonasmalacofilho commented on #29
But it used to work, right?  When we were discussing lower pump speeds in #15?

More than enough!  In just a couple minutes all capacitors should have discharged fully and the cooler will reset to its default settings (including loading/white mode/color).

[2018-10-01 16:00] Carthago44 commented on #29
Yes, it used to work. Otherwise I wouldn't have been able to report my values.

[2018-10-01 16:19] jonasmalacofilho commented on #29
It's probably an issue with the fan/pump profiles; more specifically, with using 2 °C increments instead of the default (and not that useful) 5 °C steps.  If I'm this will be easy to avoid (though it won't perform as well as it could)... I'll implement something later today or tomorrow.

I would also like to see if there's a way to select the appropriate behavior without waiting for a read to get

[2018-10-01 16:33] Carthago44 commented on #29
Many thanks for your commitment here!
Of course I will try to help here with testing and so on. Unfortunately python is still very "new" for me and I try to learn, but time is rare......

[2018-10-02 06:52] kkobashi commented on #28
I've updated this to use a system daemon instead. There's too much to consider regarding interactive, non-interactive, non-login, login cases and the order the scripts are executed. Cron upon reboot, even every 1 minute didn't trigger colctl. I think it may have to do with udev rules, USB, and permissions.

[2018-10-02 09:42] Carthago44 commented on #29
Another "nice" effect:
sending -ps xx and/or -fs xx results in an error message from my BIOS when I perform a warm start - tells me "CPU Fan Error", what means, that there is no more PWM signal from x62. After power off and on the signal is back and everything seems to work quite normal.
I didn't notice this behaviour up to now, because normally I switch power off after shut down.

[2018-10-02 09:49] jonasmalacofilho commented on #29
Wow!

But when you say everything is normal now, do you mean that even colctr/krakenx is now functioning too (even multiple runs)?

[2018-10-02 10:01] Carthago44 commented on #29
No, this behavior seems to be reproduceable.
As long as I use only -s to read the actual values everything works correct after new start without power off.  Using -ps xx -or fs xx brings back the problem - PWM off!

[2018-10-02 13:30] jonasmalacofilho commented on #29
Can you test the latest version on that same branch ([jonasmalacofilho/debug-29](https://github.com/jonasmalacofilho/krakenx/tree/debug-29))?

I would suggest starting from a (mechanical/complete) power off and trying out a few things.  Let me know what speeds are reported between each test and, also, if what you can hear from the fans and pump matches what's being reported.

[code]

If this doesn

[2018-10-02 16:52] Carthago44 commented on #29
Ok, here the results:

C:\Users\Toni\Documents\GitHub\krakenx-debug-29>colctl -s
debug: bcdDevice=0x200 manufacturer="NZXT.-Inc." product="NZXT USB Device"
Device status:
fan_speed 518
firmware_version 2.1.8
liquid_temperature 32.7
pump_speed 1189

C:\Users\Toni\Documents\GitHub\krakenx-debug-29>colctl -fs 25 -ps 50
debug: bcdDevice=0x200 manufacturer="NZXT.-Inc." product="NZXT USB Device"

---no

[2018-10-02 16:58] Carthago44 commented on #29
Addition:

PWM of x62 is off again after this test!

[2018-10-02 18:48] jonasmalacofilho commented on #29
Thank you again!

I guess no profiles are supported at all[1] in 2.1.8.  A conditional check is needed for this.

Just so I don't have to deal with this twice, I've just pushed a temporary (non-conditional, just for you/2.1.8) quick fix to the branch you are testing...  I'll work on a more thorough solution in #27.

_Note: if you give it a profile, it will simply pick the first speed it sees._

As

[2018-10-02 18:49] jonasmalacofilho commented on #29
Note: forgot to commit & push.  Just did that now.

[2018-10-02 21:44] Carthago44 commented on #29
Thank you very much for the moment; I will continue testing tomorrow (11.45 pm here).

[2018-10-02 22:29] leinardi opened #30 "Udev rule to remove the need for sudo on Linux"
I just want to suggest the use of a `udev` rule to avoid the need of having to use `sudo` to execute `colctl`.

The steps necessary to achieve this are:

1. Creating the file `/lib/udev/rules.d/60-krakenx.rules` containing the rule `SUBSYSTEM=="usb", ATTRS{idVendor}=="1e71", ATTRS{idProduct}=="170e", MODE="0666"`
2. executing `sudo udevadm control --reload-rules`
3. executing `sudo udevadm trigger

[2018-10-02 22:34] leinardi opened #31 "PEP8, PyLint and Mypy"
I was checking the code and I noticed several violations of the PEP8, PyLint and Mypy rules. Would you be interested in a pull request that address this issues? If you are let me know and I will be happy to make one.

[2018-10-02 22:35] KsenijaS commented on #31
Hello Roberto,
Thank you for taking an interest in this project.
I think it would be great if you could make pull request.

Thanks

[2018-10-02 22:38] leinardi commented on #31
Sure, I will try to fix all the issues tomorrow.

What is the minimum python version you want to support?

[2018-10-02 22:43] leinardi opened #32 "usb.core.USBError: [Errno 110] Operation timed out"
If multiple executions of `colctl` are done in a short amount of time this error is shown:

[code]
Most probably the USB devices is not reset before

[2018-10-02 22:50] leinardi commented on #30
An example on how to do it automatically can be found here: https://github.com/flozz/rivalcfg/blob/master/setup.py

[2018-10-02 22:57] KsenijaS commented on #31
I think minimum supported python versions should be 3.6 and 2.7

[2018-10-03 00:52] jneumaier commented on #32
Please also consider Windows support. It is broken now. I will fix this tommorow.

[2018-10-03 01:03] jneumaier commented on #31
@leinardi Please consider #27 and the major rewrite the project is currently implementing. I think you should not put to much effort in the driver itself because it will be switched soon and please also consider the current implementation from @jonasmalacofilho at [jonasmalacofilho:switch-to-liquidctl-driver](https://github.com/jonasmalacofilho/krakenx/tree/switch-to-liquidctl-driver). Maybe you c

[2018-10-03 09:17] leinardi commented on #32
Sorry about Windows, I have not thought it could break it.

[2018-10-03 09:18] leinardi commented on #31
Yeah, better to wait than, otherwise there will be many conflicts.

[2018-10-03 12:21] Carthago44 commented on #29
Libusb is installed now - both colctl (your last debug version for me) and CAM work fine, but CAM software does not offer me a newer firmware version than 2.1.8.

[2018-10-03 15:41] jneumaier commented on #26
Thanks for the info. I will have a look into this on the next weekend.

[2018-10-03 15:49] jneumaier commented on #28
@kkobashi I integrated you documentation. Please feel free to reopen this issue or create a pull request any time.

[2018-10-03 15:52] jneumaier commented on #27
I moved protocol.md and added a note about the driver in there. For now I would be fine with this. You may add further adjustments to the documentation or just mark the task as done :-)

[2018-10-03 15:57] jonasmalacofilho commented on #27
@jneumaier thanks!

[2018-10-03 16:46] jonasmalacofilho commented on #29
Ok, thanks for the update.  And it's too bad you can't update the firmware.

I'll let you know when a more permanent fix is merged.

[2018-10-09 03:02] kkobashi commented on #28
@jneumaier When you copy and pasted, the formatting got messed up. I tried fixing but I'm prevented from doing so. Please fix so its readable in the same format as I have here. In particular, the commands are all run together on one line. They need CR/LF probably as they were probably stripped by your Windows editor.

[2018-10-09 18:08] jneumaier commented on #28
@kkobashi Git manages line endings even if Windows users mess them up :stuck_out_tongue: They were all fine, but I thought it was valid markdown syntax already which handles breaks automaticallly. Sorry, should have checked this more thorough.

jonasmalacofilho had some suggestions for improvements he left in commit comments, see https://github.com/KsenijaS/krakenx/commit/6bf4f925a187e4b51df29b81c

[2018-10-09 19:12] jneumaier commented on #28
We should reference the default installation procedure in [doc/linux-autorun.md](https://github.com/KsenijaS/krakenx/blob/master/doc/linux-autorun.md). Otherwise this will be hard to maintain.

Can we not just install as described in README.md and do
`ExecStart=colctl`
Don't we have a PATH resolval here? What is the reason for this custom installation procedure?

[2018-10-09 20:31] jonasmalacofilho commented on #28
There are a few quirks – e.g. systemd units don't see the same environment (variables) as you do – but it can usually be managed without installing things twice or requiring them to be in `/etc`.

Though I haven't tested this with krakenx,[1] and @kkobashi also mentions a possible (and likely) dependency issue with udev.

[1] I'm traveling for work, I'm not sure I'll be able to test this before I

[2018-10-15 17:13] jonasmalacofilho commented on #25
Closing due to inactivity.

I also think we can safely assume it works, based on `leviathan` and the absence of issue reports (there or here).

[2018-10-15 17:13] #25 closed

[2018-10-30 17:10] varomix opened #35 "How to reset Fan and Pump Settings?"
Hi guys
I set fan and pump speeds using this command

` sudo colctl --fan_speed "(20,30),(30,50),(40,90),(45,100)" --mode spectrumwave --animation_speed 3
`
I would like to reset my settings to defaults?

thank you very much

[2018-10-30 17:29] jonasmalacofilho commented on #35
The easiest way would be power down the cooler completely (turn the PSU off or disconnect the USB cable from the motherboard).

Otherwise, you can simply replicate the defaults.  If I remember them correctly, it should be something like this:

[code]

[2018-10-30 17:50] varomix commented on #35
Thank you

[2018-10-30 17:51] #35 closed

[2018-12-04 23:23] varomix opened #36 "How to set control modes"
Hi
I think my fans are running a bit to hi, I can hear the the fans are a bit loud, maybe is in a Performance mode.
Is there a way to change Control Modes as described in the Website
![image](https://user-images.githubusercontent.com/728059/49479608-db5f7000-f7e0-11e8-8fb4-a612742cfa58.png)

I would love to have it in SIlent mode when I'm just doing basic stuff and Performance only when I need to.

[2018-12-04 23:33] jonasmalacofilho commented on #36
What `fan_speed` and `pump_speed` options have you used?

[2018-12-04 23:45] varomix commented on #36
think I'm at defaults cause I turned off everything and disconnected the cooler usbs, as someone said I could reset it.

[2018-12-05 00:30] #28 closed

[2018-12-05 00:45] jonasmalacofilho commented on #28
Closing, as there is nothing to be done _directly_.

I've been testing a [simpler](https://github.com/jonasmalacofilho/dotfiles/tree/master/krakenx) setup.  Eventually, I'll _propose_ a complete rewrite of the instructions based on this simpler approach, as the custom installation (and inside `/etc`, of all places) really does not sit well with me.

Note: systemd 239.3030-1 introduced [some](https

[2018-12-05 17:00] varomix commented on #36
mmmh? I really don't want to get something wrong and kill my cooler
I guess I'll have to install windows and see if that has more control and try to figure it out on linux

thanks

[2018-12-05 18:21] jonasmalacofilho commented on #36
You're welcome.

I'll close this issue, but feel free to ask more questions.

[2018-12-05 18:21] #36 closed

[2019-01-13 23:01] jonasmalacofilho commented on #27
Rebased and updated [jonasmalacofilho/switch-to-liquidctl-driver](https://github.com/jonasmalacofilho/krakenx/tree/switch-to-liquidctl-driver) ([diff](https://github.com/KsenijaS/krakenx/compare/master...jonasmalacofilho:switch-to-liquidctl-driver?expand=1)):

 - require liquidctl v1.1.0
    + closes #29
    + incorporates #20
 - add all missing base lighting modes
    + includes: Off, CustomWave,

[2019-01-13 23:34] KsenijaS commented on #27
Hi Jonas,

Thank you for making those changes! They will make the code much more readable. I have a few comments though:

1. I wouldn't replace MODE_SOLID with COLOR_MODES[1]; line 44 is not readable at all. It's not obvious what COLOR_MODES[1] is, nor is it obvious in COLOR_MODES's definition that the order of modes would change what the code does. Maybe consider defining a MODE_SOLID mode outsid

[2019-01-14 00:04] jonasmalacofilho commented on #27
Thanks, you were right, those were ugly.

1. Did basically that.

2. While `super` does mean _something_ in the driver – a mode where LEDs are referenced individually – the code was indeed unnecessarily convoluted.  Fixed that by adding a new `uses_text_color` field to the `Mode` tuple.

By the way, while strange, most modes don't actually do anything with the supplied text color.  IIRC _one_ othe

[2019-01-26 11:36] jneumaier commented on #27
Thanks a lot @jonasmalacofilho

How should we proceed here?

- [ ] @jneumaier: Test switch-to-liquidctl-driver against current README.md documentation and create a pull request against jonasmalacofilho/switch-to-liquidctl-driver for changes
- [ ] @jneumaier: Add some Windows documentation #26 including suggestions for autostart on login
- [ ] Merge into master
- [ ] Optional: (I can do this) Add p

[2019-01-26 11:41] jneumaier commented on #31
@leinardi
You might already work on this and create a pull request against [jonasmalacofilho/switch-to-liquidctl-driver](https://github.com/jonasmalacofilho/krakenx/tree/switch-to-liquidctl-driver). We might release 1.0.0 milestone from this pull request but we can also finish this task afterwards.

[2019-03-13 12:23] #27 closed

[2019-03-13 12:23] #29 closed

[2019-03-13 12:34] jonasmalacofilho commented on #20
Closing as #39 has been merged.

[2019-03-13 12:34] #20 closed

[2019-03-13 12:34] jonasmalacofilho commented on #22
Closing as #39 has been merged.

[2019-03-13 12:34] #22 closed

[2019-07-29 08:49] thommstark opened #40 "No module named "usb" error"
entered

sudo colctl --mode solid --color0 50,0,90

and got:

Traceback (most recent call last):
  File "/usr/local/bin/colctl", line 7, in <module>
    import usb.core
ModuleNotFoundError: No module named 'usb'

[2019-07-29 08:54] jonasmalacofilho commented on #40
It seems you don't have PyUSB.

What method did you use to install krakenx?

[2019-07-29 08:56] thommstark commented on #40
I used

sudo python3 -m pip install krakenx

[2019-07-29 08:57] thommstark commented on #40
Just installed pyusb and the command now works. I have a purple light. Thanks!

[2019-07-29 08:59] jonasmalacofilho commented on #40
No idea what happened, as pip should have picked it up the first time.

But I'm glad it's working now.

[2019-07-29 09:10] #40 closed

[2019-10-03 13:45] SkyWar-design opened #42 "Install krakenx witch Mac OS"
Hello, i get installation error

1. pip3 install --upgrade pip
2. git clone URL
3. pip3 install krakenx/ - ERROR
[code]

[2019-10-05 03:18] jonasmalacofilho commented on #42
Closing per [liquidctl#51](https://github.com/jonasmalacofilho/liquidctl/issues/51#issuecomment-538508123).

[2019-10-05 03:18] #42 closed

[2019-10-05 03:21] jonasmalacofilho commented on #30
Closing due to lack of activity.

And, IMO, quietly installing such udev rules in setup.py is bad: the system administrator should explicitly choose to allow access to unprivileged users.

[2019-10-05 03:21] #30 closed

[2019-10-05 03:21] jonasmalacofilho commented on #31
Closing due to lack of activity.

[2019-10-05 03:21] #31 closed

[2019-10-05 03:21] jonasmalacofilho commented on #26
Closing due to lack of activity.

[2019-10-05 03:21] #26 closed

[2019-10-05 03:21] jonasmalacofilho commented on #21
Closing due to lack of activity.

[2019-10-05 03:21] #21 closed

[2020-02-22 17:41] KhanSW opened #43 "Not able to change text color in marquee modes"
I've been attempting to get a marquee animation going with matching text color (0,128,255) but no matter how I enter it I always get the color I want on the marquee but not the text (keeps defaulting to a pinkish / purple color).

The commands I have tried are:

colctl --mode marquee -c 0,128,255 -c0 0,128,255 -as 1
or
colctl --mode marquee --text_color 0,128,255 --color0 0,128,255 -as 1

When I t

[2020-02-22 23:12] jneumaier commented on #43
REAMDE.md says "Text color is always black" and it behaves the same for me.

You might want to try liquidctl:
https://github.com/jonasmalacofilho/liquidctl/blob/master/docs/nzxt-kraken-x-3rd-generation.md

It is a successor of this project and used as a driver for krakenx as well. If it is supported, it should work there. I should put a link to liquidctl on the main page :-)

[2020-02-22 23:54] KhanSW commented on #43
Thank you, that fixed it for me :)

[2020-02-22 23:54] #43 closed

[2020-03-12 17:21] NoakPalander opened #44 "Can't appear to set the text color with marquee mode"
If I want to be able to have a white logo paired together with a green circle.
Then the command: sudo colctl --mode marquee --color0 0,255,0 --text_color 255,255,255
Should do the trick, yet the logo is still red (the default color). Even if I enable more than 1 color using the --color_count 2, it won't change it.

[2020-03-12 22:13] jneumaier commented on #44
Please have a look at #43 ;-)

I will update the README / project page this weekend.

[2020-09-08 17:57] mcdull opened #45 "can it interact with cpu temp?"
Thank you for bringing this to the linux.  I was much much regret that I bought the x73. Huge expensive and do not function well.
In windows cam application, if I started to burn the fpu, the pump and fan would run at full speed.

However, when I use it in linux and started a windows vm for fpu, it will overheat being the liquid temperature going too slow.  Is that a way to also incorporate the cp

[2020-10-27 11:05] #44 closed

[2020-10-27 11:08] jonasmalacofilho commented on #45
In summary: it's possible, but requires a custom script.

You can find more information about this in [liquidctl#203 (comment)](https://github.com/jonasmalacofilho/liquidctl/issues/203#issuecomment-712573639).

[2020-10-27 11:08] #45 closed